
    <div class="navbar-static-top">

        <div class="actions top-right">

        {{#if user.is_loggedin }}
            <a href="/logout">
              <span class="material-icons">logout</span>
              logout
            </a>
            <a id="user_account" href="#user_account">
                Hey {{user.first_name}}<img class="profile_photo" src="{{user.profile_url}}" />
            </a>
        {{else}}
            <a href="/signup">
              <span class="material-icons">login</span>
              signup
            </a>
            <a href="/login">
              <span class="material-icons">login</span>
              login
            </a>
        {{/if}}
        </div>

        <div class="top-left">
            <div class="actions">
                {{#if user.is_loggedin }}
                <!--a href="/settings" alt="settings" >
                    <i class="glyphicon glyphicon-cog" class="icon-shadow"></i>
                </a-->
                {{/if}}
                <a href="/" alt="home" >
                    <span class="material-icons">home</span>
                </a>
            </div>


        </div>

        <div class="dashboard-blocks">
            <div class="block block-1"></div>
            <div class="block block-2"></div>
            <div class="block block-3"></div>
            <div class="block block-4"></div>
            <div class="block block-5"></div>
        </div>
    </div>


    <div class="row-fluid post-content">

      <div class="hero hidden" style="color:#fff;min-height:400px;">
          <div class="center">
              <div id="main-message" style="opacity: 1;">
                  <h1 style="font-size:64px;">permission is denied</h1>
              </div>
              <div class="greeting" style="opacity: 1;">
                  <h2>Howdy<span class="period"></span>, <span class="name">{{user.first_name}}.</span></h2>
                  <p>Lets find something else, shall we?</p>
                  <div class="actions">
                          <form action="/" style="display:inline-block;">
                              <span class="material-icons">search</span>
                              <input type="hidden" name="userid" value="{{user.userid}}">
                              <input type="search" autocomplete="on" name="q" placeholder="Search?">
                          </form>
                      </div>
              </div>
          </div>
      </div>


      <!--div id="page-content" class="page-content page-container" >
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong>Chat</strong></h4>
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                            <div class="media media-chat">
                                <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>Hi</p>
                                    <p>How are you ...???</p>
                                    <p>What are you doing tomorrow?<br> Can we come up a bar?</p>
                                    <p class="meta"><time datetime="2018">23:58</time></p>
                                </div>
                            </div>

                            <div class="media media-meta-day">Today</div>

                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>Hiii, I'm good.</p>
                                    <p>How are you doing?</p>
                                    <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                                    <p class="meta"><time datetime="2018">00:06</time></p>
                                </div>
                            </div>

                        </div>
                        <div class="publisher bt-1 border-light">
                            <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                            <input class="publisher-input" type="text" placeholder="Write something">
                            <span class="publisher-btn file-group">
                              <i class="fa fa-paperclip file-browser"></i>
                              <input type="file"> </span>
                              <a class="publisher-btn" href="#" data-abc="true">
                                <i class="fa fa-smile"></i></a>
                                <a class="publisher-btn text-info" href="#" data-abc="true">
                                  <i class="fa fa-paper-plane"></i>
                                </a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </div-->

      <div id="chat">
        chat...
      </div>

</div>



<style>
    body{
        background-color: #eee;
    }

    post{
      outline:none;
    }
</style>

<link rel='stylesheet' href='/css/yt-item-tmpl.css' />
<link rel='stylesheet' href='/css/phub-item-tmpl.css' />
<link rel='stylesheet' href='/css/chat-bootstrap.css' />

<script src="/bower/socket.io/client-dist/socket.io.min.js"></script>
<script src="/js/chat.jquery.js"></script>
<script src="/js/NewsFeedManager.js"></script>


<script>

    var _userid               =   '{{user.userid}}';
    var _is_loggedin          = ( '{{user.is_loggedin}}' )? true : false;
    var _is_admin             = ( '{{user.is_admin}}' )? true : false;
    var _is_staff             = ( '{{user.is_staff}}' )? true : false;
    var _is_moderator         = ( '{{user.is_moderator}}' )? true : false;

    var _nfm = new NewsFeedManager();

        $(initUI);

    function initUI(e)
    {
        console.log("initUI()");
        $("#chat").chat( _userid, {} )
        
    }

    function initBGB()
    {
        if( Modernizr.touch ) {
            _vm.initBG();
        }else{
            _vm.initBGV();
        }
    }

</script>
